<app-header></app-header>
    <div class="main">
        <div class="container">
            <br>
            <div class="card mx-auto" style="width: 28rem;">
                <img src="../../../assets/img/profile-pic-about-me.jpeg" class="card-img-top" alt="profile picture developer">
                <div class="card-body">
                    <h4 class="card-title text-center">¡Hola! 👋 Soy Francisco, estudiante de programación del último año en la UTN.</h4>
                
                    <p class="card-text">👾 Me apasiona el desarrollo web Full Stack y actualmente estoy trabajando en mejorar mis habilidades en .NET, React y Angular.</p>
                    <p class="card-text">🔭 Actualmente me estoy enfocando en el desarrollo web Full Stack.</p>
                    <p class="card-text">🌱 Me encuentro trabajando con .NET, Angular y Oracle ofreciendo servicios de software.</p>
                    <p class="card-text">Contactate conmigo a traves de <a href="https://www.linkedin.com/in/franciscoallende/" target="_blank">LinkedIn</a> o escribime a <a href="mailto:franallende2000@gmail.com" target="_blank">franallende2000&#64;gmail.com</a>.</p>
                    <p class="text-center">
                        <a href="https://francisco-allende.github.io/Portfolio/" class="btn btn-primary" target="_blank">👉 Pasate a conocer mi trabajo</a>
                    </p>
                </div>
            </div>
            
        </div>
    </div>
<app-footer></app-footer>