<app-header></app-header>
    <div class="main">
        <div class="container">
            <br><br>
            
            <div class="card mx-auto" style="width: 18rem;">
                <img src="../../../assets/img/profile-pic-about-me.jpeg" class="card-img-top" alt="profile picture developer">
                <div class="card-body">
                  <h5 class="card-title">Hi there 👋 I'm Francisco, a last year programming student at UTN.</h5>

                  <p class="card-text">👾 I'm passionate about Full Stack web development and currently working on sharpening my skills in .NET, JS and Angular.</p>
                  <p class="card-text">🔭 I'm currently focusing on Full Stack web development.</p>
                  <p class="card-text">🌱 I'm currently working with .NET, JS and Angular.</p>
                  <p class="card-text">Feel free to connect with me on <a href="https://www.linkedin.com/in/franciscoallende/" target="_blank">LinkedIn</a> or drop me a line at <a href="mailto:franallende2000@gmail.com" target="_blank">franallende2000&#64;gmail.com</a>.</p>
    
                  <a href="https://francisco-allende.github.io/Portfolio/" class="btn btn-primary" target="_blank">👉 Take a look at my work</a>
                </div>
            </div>
            
        </div>
    </div>
<app-footer></app-footer>