.app-footer {
    display: flex;
    justify-content: center;
    background-color: rgb(109, 83, 183);
}

.footer-logo {
    background: url('../../../assets/img/logo-joystick.png');
    background-repeat: no-repeat;
    width: 12em;
    height: 8em;
    background-size: 50%;
    background-position: center;
}

.footer-data{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black; 
}

a{
    text-decoration: none; 
    color: black; 
}