main{
    height: 80vh;
    background-color: rgb(145, 228, 241);
}

.card{
    width: 18rem;
    height: 14rem;
}
.row {
    margin: 0 auto; 
}


@media (max-width: 1300px) {
    main{
        height: 100vh;
        background-color: rgb(145, 228, 241);
    }
    .card{
        margin: 1em;
        width: 14rem;
    }
}