<div class="container-fluid vh-100 m-0 p-0">
    <div class="row justify-content-center align-items-top h-100 form-container">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Ingrese su usuario</h1>
                    <br>
                    <form [formGroup]="loginForm">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Email" [(ngModel)]="loginUser.email" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Contraseña" [(ngModel)]="loginUser.password" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="login-btns">
                            <div class="form-group">
                                <button type="button" class="btn btn-success btn-block" (click)="login()">Iniciar Sesión</button>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-primary btn-block" (click)="goToRegister()">Registrarse</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>