header{
    background-color: rgb(12, 16, 90);
    color: #fff;
}
.btn-menu{
    background-color: #fff;
}


.navbar-nav {
    display: flex; 
    align-items: center; 
    flex-direction: row; /* pasa las columnas de los <li> a una misma fila */
  }
  
  .nav-item {
    margin-left: 1em; 
  }

  .btn-nav-end{
    margin-left: 1em;
    margin-right: 1em;
  }
