.main{
    height: 100vh;
    background-color: rgb(145, 228, 241);
}

.title{
    margin-bottom: 2rem;
}

.container{
    padding-top: 2rem;
}

.juego{
    width: 22%;
}

.card-title{
    font-size: 125px;
}

.card-header, .card-footer{
    font-size: 50px;
}